Source: ubuntu-after-install
Section: utils
Priority: optional
Maintainer: The Fan Club <info@thefanclub.co.za>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.3
Version: 2.6
Installed-Size: 165
Homepage: http://www.thefanclub.co.za/how-to/ubuntu-after-install

Package: ubuntu-after-install
Architecture: all
Depends: ${misc:Depends}, gksu, python, python-software-properties
Description: Ubuntu After Install
 Automated install of some of the best software for Ubuntu. 



